* {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  background-color: #eee;
  box-sizing: border-box;
  padding: 10px 30px;
  width: 300px;
}

label {
  font-weight: bold;
}

.inputCaja {
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
}

textarea {
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
}

.inputSubmit {
  background-color: steelblue;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
}
